.products{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow:  0 0 0 5px;
    margin: 10px;
}

.imgx{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    position: relative;
}